<% breadcrumb :user_show%>
<%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
<div class="AccountPage">
  <div class="AccountPage__title">
    <h1 class="mypage" >マイページ</h1>
    <div class="whosepage"> <%= "#{current_user.nickname}さんのマイページです" %> </div>
  </div><br>
  <div class="Card__title">
    <h2>カード情報</h2>
  </div>
  <div class="Card_info">
    <div class="detail">【カード番号】</div>

    <%= "**** **** **** " + @card[:last4] %>
   
    <div class="detail">【有効期限】</div>

    <%= @card[:exp_month] %>
    /
    <%= @card[:exp_year] %>
  </div>

  <br>
  <br>
  <br>

  <div class="Card__title">
    <h2>住所情報</h2>
  </div>
  <div class="Card_info">
    <div class="detail">【郵便番号】</div>
    <%= current_user.address.post_num %>
   
    <%# <div class="detail">【都道府県】</div>
    <%= current_user.address.prefecture.name %> %>

    <div class="detail">【市区町村】</div>
    <%= current_user.address.city %>

    <div class="detail">【番地】</div>
    <%= current_user.address.house_num %>

    <% if current_user.address.house_num.present?%>
    <div class="detail">【建物名】</div>
    <%= current_user.address.house_num %>
    <% end %>

    <div class="detail">【電話番号】</div>
    <%= current_user.address.tel %>
  </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
    <br>
    <%= link_to "商品一覧へ戻る", root_path%>
  </div>
</div>